EMAIL=your_college_email
NAME=your_name
MOBILE_NO=your_mobile_number
GITHUB_USERNAME=your_github_username
ROLL_NO=22MIS1084
ACCESS_CODE=your_access_code

# These will be auto-populated by auth_manager.py upon successful registration and authentication
CLIENT_ID=
CLIENT_SECRET=
ACCESS_TOKEN=
